
{% extends "main.j2" %}
{% block content %}

<h1>Employees</h1>

{# READ table #}
<table>
    <thead>
    {# For the table header row, print the DB attribute names #}
    <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th></th>
    </tr>
</thead>

    <tbody>
        {# For each row, print the id, fname, lname, email and phone number #}
        {% for employee in employees %}
        <tr>
            <td>{{ employee.employeeID }}</td>
            <td>{{ employee.firstName }}</td>
            <td>{{ employee.lastName }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phoneNumber| default('', true) }}</td>

            {# DELETE form #}
            <form id="delete_employee_form" method="POST" action="/employees/delete">
                <input type="hidden" name="delete_employee_id"   value="{{ employee.employeeID }}">
                <input type="hidden" name="delete_employee_name" value="{{ employee.firstName }} {{ employee.lastName }}">
                <td>
                    <button type="submit">
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>

{# CREATE form #}
<h2>Create an Employee</h2>
<form class="cuForm" id="create_employee_form" method="POST" action="/employees/create">
    <label for="create_employee_firstName">First Name: </label>
    <input type="text" name="create_employee_firstName" id="create_employee_firstName" required>

    <label for="create_employee_lastName">Last Name: </label>
    <input type="text" name="create_employee_lastName" id="create_employee_lastName">

    <label for="create_employee_email">Email: </label>
    <input type="text" name="create_employee_email" id="create_employee_email">

    <label for="create_employee_phoneNumber">Phone Number: </label>
    <input type="number" name="create_employee_phoneNumber" id="create_employee_phoneNumber" min="0">

    <input type="submit">
</form>

{# UPDATE form #}
<h2>Update an Employee</h2>
<form class="cuForm" id='update_employee_form' method='POST' action='/employees/update'>
    <label for="update_employee_employeeID">Employee to Update: </label>
    <select name="update_employee_id" id="update_employee_id" required>
        <option value="" disabled selected>Select an Employee</option>
        {% for employee in employees %}
        <option value="{{employee['employeeID']}}" required>
            {{employee['employeeID']}} 
            - 
            {{employee['firstName']}} 
            {{employee['lastName']}}
        </option>
        {% endfor %}
    </select>

    <label for="update_employee_email">Email: </label>
    <input type="text" name="update_employee_email" id="update_employee_email">

    <label for="update_employee_phoneNumber">Phone Number: </label>
    <input type="number" name="update_employee_phoneNumber" id="update_employee_phoneNumber" min="0">

    <input type="submit">
</form>

{% endblock %}