
{% extends "main.j2" %}
{% block content %}

<h1>Home page</h1>
<div class="homepageDescription">
    <p>Database project for Instru-Mentality Sales System. Created by Alexis Collins and Josh Flenniken.</p>
</div>

{% endblock %}